altair==5.2.0
Cython==3.0.8
feature-engine==1.6.2
imbalanced-learn==0.12.0
ipywidgets==8.1.1
Jinja2==3.1.3
joblib==1.3.2
MarkupSafe==2.1.4
matplotlib==3.7.4
numpy==1.24.4
nbformat>=5.9.2
pandas==1.5.3
plotly==5.18.0
ppscore==1.3.0
protobuf==4.25.2
scikit-learn==1.3.2
seaborn==0.12.2
streamlit==1.30.0
widgetsnbextension==4.0.9
xgboost==2.0.3
ydata-profiling==4.6.4
yellowbrick==1.5
zipp==3.17.0
